@media (max-width:320px) {
	.navbar-brand {
		text-align: center;
		display: block;
		margin: 0 auto;
		margin-top: 40px;
	}
	
	.intro-content {
		padding:250px 0 0;
	}
}

.view-desktop { display: block; }
.view-mob { display: none; }

@media (max-width: 992px) {
	
	.view-mob { display: block; }
	.view-desktop { display: none; }
	.img-mob {margin-top: 100px; }
}